

@import './partials/reset';
@import './partials/reset';
@import './partials/colors'; 
@import './partials/font'; 
@import './partials/spacings';
@import './partials/buttons';


body {
    background-color: #f8f9fa;
    font-family: $font-main;
}

header {
    background-color: $bg-hero;
    color: $text-main;
    .flex-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            gap: 20px;
        }
    }
}

.hero {
    background-color: $bg-hero;
    color: $text-main;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
        display: flex;
        align-items: center;
        gap: 50px;
        max-width: 1200px;
    }

    .hero-text {
        flex: 1;
        h2 { @include title-big; }
    }

    .hero-image-container {
        flex: 1;
        .hero-img {
            @include floating(20px, 0 15px 35px rgba(0,0,0,0.4), rgba(255,255,255,0.3));
        }
    }
}

.image-grid {
    @include grid(4, 20px);
    margin-top: 50px;
    img {
        @include floating(15px, 0 5px 15px rgba(0,0,0,0.1));
    }
}