
.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: filter 0.3s ease; 

    &:hover {
        filter: brightness(1.1); 
    }
}


@for $i from 1 through length($btn-colors) {
    .btn-#{$i} {
        background-color: nth($btn-colors, $i);
    }
}