// Reset universale
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%; 
}

ul, ol {
    list-style: none; 
}

a {
    text-decoration: none;
    color: inherit; 
}