
$spacings: (
    "sm": 0.5rem,
    "normal": 1rem,
    "md": 1.5rem,
    "lg": 2rem,
    "xl": 3rem,
    "xxl": 5rem
);


@each $name, $value in $spacings {
 
    .padding-block-#{$name} { padding-block: $value; }
    .padding-inline-#{$name} { padding-inline: $value; }


    .margin-block-#{$name} { margin-block: $value; }
    .margin-inline-#{$name} { margin-inline: $value; }
}